<section class="container text-center text-white mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-8">

      <h1 class="display-3 fw-bold mb-4">Bienvenido al universo de Rick y Morty</h1>

      <p class="lead mb-4">
        Explora los personajes más icónicos de la serie. Descubrí sus historias, aventuras y más.
      </p>

      <!-- AGREGAR IMAGEN -->
      <!-- <img src=""
           alt="Rick and Morty"
           class="img-fluid rounded shadow mb-4"
           style="max-height: 350px; object-fit: cover;"
      > -->

      <div>
        <a routerLink="/characters" class="btn btn-success btn-lg px-4 mt-2">
          Ver personajes
        </a>
      </div>

    </div>
  </div>
</section>
