

<div class="container-fluid py-4">
  <app-floating-bar></app-floating-bar>

  <div class="container my-4">
    <!------------ Buscador ---------------->
     <app-search-input></app-search-input>

     <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 60vh;">

       @if (charactersService.$isError())
       {
           <h3>{{ charactersService.$isError()}}</h3>
       }
       @else
       {
          <!------------ Lista de Cards ------------>
          <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 mx-auto">
              @for (character of $characters(); track $index) {
                <div class="col">
                  <app-character-card [character]="character"></app-character-card>

                </div>
              }
          </div>

          <!------------ Paginador ------------>
          <app-pagination></app-pagination>

       }
   </div>

</div>
