

<div class="card bg-dark text-white border-secondary">

  <div class="card-body">
    <h5 class="card-title border-bottom pb-2">Episodio {{episodeSelected?.id}}</h5>
    <p class="mb-1"><strong>Nombre: </strong> {{episodeSelected?.name}}</p>
    <p class="mb-1"><strong>Fecha de estreno: </strong> {{episodeSelected?.air_date}}</p>
    <p class="mb-1"><strong>Episodio :</strong> {{episodeSelected?.episode}}
    <p class="mb-1"><strong>Creado en :</strong> {{episodeSelected?.created | date: 'yyyy-MM-dd'}}

  </div>

</div>
