
<div class="container my-4">

  <app-floating-bar></app-floating-bar>

   @if (isError)
   {
      <h3>{{isError}}</h3>
   }
   @else
   {
    <div class="row mt-4 equal-height-row">

         <!-- Información del usuario. Comlumna derecha -->
          <div class="col-md-4 equal-height-col">
              <app-profile-info class="equal-height-card"></app-profile-info>
          </div>

          <!-- Lista de episodios. Recuadro izquierdo-->
          <div class="col-md-8 equal-height-col">
            <app-profile-episodes-list class="equal-height-card"></app-profile-episodes-list>
          </div>

    </div>
   }

</div>
