
<div class="row mb-4">
  <div class="col-12 col-md-7 mx-auto">

    <div class="input-group">
    <button class="btn btn-secondary mx-4" type="button" (click)="clear()">Volver</button>
    <input
        type="text"
        class="form-control bg-dark text-white"
        placeholder="Buscar personaje..."
        (keyup.enter) = "onSearch(txtSearch.value)"
        #txtSearch
        >
      <button class="btn btn-primary" type="button" (click)="onSearch(txtSearch.value)">Buscar</button>
    </div>

  </div>
 </div>
