<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a
      class="navbar-brand navbar-logo"
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Rick & Morty
    </a>

    @if(userService.authStatus() === 'authenticated'){
    <!--Boton de hamburguesa para celulares-->
    <button
      class="navbar-toggler navbar-toggle-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbarMenu"
      aria-controls="mainNavbarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!---- Menu ---->
    <div class="collapse navbar-collapse" id="mainNavbarMenu">
      <!-- Secciones principales -->
      <ul class="navbar-nav navbar-menu-left me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link base-link"
            routerLink="/characters"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >Personajes
          </a>
        </li>

        <li class="nav-item">
          <a
          class="nav-link base-link"
          routerLink="/episodes"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
            >Episodios</a
          >
        </li>
      </ul>

      <!-- Usuario -->
      <ul class="navbar-nav navbar-menu-right mb-2 mb-lg-0">
        <!-- Perfil -->
       <li class="nav-item" *ngIf="userService.user() as user; else loginLink">
          <a
            class="nav-link base-link"
            routerLink="/profile"
            routerLinkActive="active-link"
          >
            {{ user.fullName }}
          </a>
        </li>

        <ng-template #loginLink>
          <li class="nav-item">
            <a class="nav-link base-link" routerLink="/login">Iniciar sesión</a>
          </li>
        </ng-template>

        <!-- Cerrar Sesión-->
        <li class="nav-item">
          <a
            class="nav-link base-link"
            (click)="userService.logOut()"
            routerLink="/auth/login"
            >Cerrar sesión</a
          >
        </li>
      </ul>
    </div>

    } @else if(userService.authStatus() === 'not-authenticated'){
    <ul class="navbar-nav navbar-menu-right mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Login</a>
      </li>
    </ul>
    }
  </div>
</nav>
