<div class="card bg-dark text-white border-secondary">
  <!-- Imagen del usuario -->
  <img
    *ngIf="user()?.profileImage"
    class="img-fluid w-75 mx-auto mt-2 rounded"
    [src]="getProfileImageUrl(user()!.profileImage!)"
    alt="characterSelected()?.name"
  />

  <!-- Si no hay imagen de usuario, mostrar avatar por defecto -->
  <img
    *ngIf="!user()?.profileImage"
    class="img-fluid w-75 mx-auto mt-2 rounded"
    src="assets/default-avatar2.jpg"
    alt="Usuario"
  />

  <!-- Botón para mostrar input -->
  <button
    class="btn btn-secondary my-2 w-50 mx-auto"
    (click)="toggleImageUpload()"
  >
    Editar imagen
  </button>

  <!-- Input para seleccionar nueva imagen -->
  <div *ngIf="showImageInput" class="my-2">
    <input
      type="file"
      (change)="onFileSelected($event)"
      class="form-control w-75 mx-auto"
    />
  </div>

  <div class="card-body">
    <h5 class="card-title border-bottom pb-2">{{ user()?.fullName }}</h5>
    <p class="mb-1"><strong>Email:</strong> {{ user()?.email }}</p>
    <p class="mb-1">
      <strong>Fecha de nacimiento:</strong> {{ user()?.birthday }}
    </p>
    <p class="mb-1">
      <strong>Ubicación:</strong> {{ user()?.address?.street }},
      {{ user()?.address?.city }} ({{ user()?.address?.cp }}),
      {{ user()?.address?.location }}, {{ user()?.address?.country }}
    </p>
  </div>
</div>
