<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand navbar-logo" href="#">Rick & Morty</a>

    <!--Boton de hamburguesa para celulares-->
    <button
      class="navbar-toggler navbar-toggle-button"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbarMenu"
      aria-controls="mainNavbarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!---- Menu ---->
    <div class="collapse navbar-collapse" id="mainNavbarMenu">

      <!-- Secciones principales -->
      <ul class="navbar-nav navbar-menu-left me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Personajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Episodios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ubicaciones</a>
        </li>
      </ul>

      <!-- Usuario -->
      <ul class="navbar-nav navbar-menu-right mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cerrar sesión</a>
        </li>
      </ul>

    </div>

  </div>
</nav>
