

        .login-container {
            background-color: rgba(0,0,0,0.6);
            border-radius: 8px;
            padding: 30px;
            max-width: 500px;
            width: 100%;
        }
        .login-logo {
            max-width: 700px;
            width: 100%;
            margin-bottom: 20px;
        }
        .form-control {
            background-color: #333;
            border: 1px solid  rgba(199, 196, 196, 0.91);
            color: #ccc;
        }
        .form-label {
            color: #09c;
        }
        .btn-primary {
            background-color: #09c;
            border: none;
        }
        .forgot-password, .sign-up {
            color: #09c;
            text-decoration: none;
        }
        .forgot-password:hover, .sign-up:hover {
            color: #0af;
            text-decoration: underline;
        }
