.login-container {
  background-color: rgba(15, 15, 15, 0.61);
  border-radius: 10px;
  padding: 25px;
  max-width: 360px;
  width: 100%;
}

.login-image {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

.form-control {
  background-color: #333;
  border: 1px solid #444;
  color: #ccc;
}

.form-label {
  color: #09c;
}

.btn-primary {
  background-color: #09c;
  border: none;
}

.forgot-password,
.sign-up {
  color: #09c;
  text-decoration: none;
}

.forgot-password:hover,
.sign-up:hover {
  color: #0af;
  text-decoration: underline;
}

input::placeholder {
  color: #888;
}


