

<div class="container-fluid py-4">
  <app-floating-bar></app-floating-bar>

  <div class="container my-4">
    <!------------ Buscador ---------------->
     <app-search-input [dad]= 'name'></app-search-input>

     <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 60vh;">

      @if (isError)
       {
           <h3>{{ isError }}</h3>
       }

      @else if(isSearching)
       {
         <app-cards-episodes-list [episodes] = 'episodesQuery'></app-cards-episodes-list>
       }

       @else
       {
          <app-cards-episodes-list [episodes] = 'episodes'></app-cards-episodes-list>
       }


    </div>
