
html, body {
  height: 100%;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color:#333;
  color: #0d6efdc2;
}

.card {
  transition: transform 0.2s ease-in-out;
}

.card-character:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2); /* sutil glow */
  cursor: pointer;
}

 .card-img-top {
  height: 180px;
  object-fit: cover;
}

.page-link.active {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.page-item.pag-activa .page-link {
  font-weight: bold;
  box-shadow: 0 0 8px rgba(62, 53, 230, 0.87);
  transform: scale(1.05);
}

/* Saca el borde por defecto en botones de bootstrap*/

.page-link:focus {
  box-shadow: none !important;
}

.pagination-sm .page-link {
  padding: 0.3rem 0.6rem;
  font-size: 0.85rem;
}

app-footer {
  margin-top: auto; /* empuja el footer al final si hay poco contenido */
}

/* Base style for all links */
.base-link {
    color:rgba(202, 202, 202, 0.65);
    padding: 8px 16px;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    font-weight: 475;
}

/* Estilo para el link activo como el de la imagen */
.active-link {
    background-color:rgba(18, 18, 18, 0.4);
    color: #ffffffc9 !important;
    border-radius: 3px;
    font-weight: 500;
}

.navbar-logo{
  color:rgba(202, 202, 202, 0.65);
}

.floating-bar-active-link {
    color:rgba(255, 255, 255, 0.88) !important;
    border-radius: 3px;
    font-weight: 450;
}

