
html, body {
  height: 100%;
  margin: 0;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color:#333;
  color: #0d6efdc2;
}

.card {
  /* max-width: 180px;
  width: 100%;
  margin: 0 auto; */

  transition: transform 0.2s ease-in-out;
}


 .card-img-top {
  height: 180px;
  object-fit: cover;
}

.page-link.active {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.page-item.pag-activa .page-link {
  font-weight: bold;
  box-shadow: 0 0 8px rgba(62, 53, 230, 0.87);
  transform: scale(1.05);
}

/* Saca el borde por defecto en botones de bootstrap*/

.page-link:focus {
  box-shadow: none !important;
}

app-footer {
  margin-top: auto; /* empuja el footer al final si hay poco contenido */
}
