<div class="register-container">
  <div class="register-card">
    <h2 class="register-title">Registrase</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <!-- Nombre -->
        <div class="form-group">
          <label for="name" class="form-label">Nombre completo</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
            placeholder="Juanito Pérez"
          />

          @if(formUtils.isInvaliedField(registerForm, 'name')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'name')}}
            </span>
          }
        </div>


         <!-- Email -->
        <div class="form-group">
          <label for="mail" class="form-label">Email</label>
          <input
            type="text"
            id="mail"
            class="form-control"
            formControlName="mail"
            placeholder="example@example.com"
          />
            @if(formUtils.isInvaliedField(registerForm, 'mail')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'mail')}}
              </span>
          }
        </div>
      </div>

      <!-- Contraseña -->
      <div class="form-row">
        <div class="form-group">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
          />
            @if(formUtils.isInvaliedField(registerForm, 'password')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'password')}}
              </span>
          }
        </div>

        <!-- Repetir contraseña -->
        <div class="form-group">
          <label for="confirmPassword" class="form-label"
            >Repetir contraseña</label
          >
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control"
          />
            @if(formUtils.isInvaliedField(registerForm, 'confirmPassword')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'confirmPassword')}}
              </span>
          }
        </div>
      </div>

      <!-- Dirección -->
      <div class="form-row">
        <div class="form-group">
          <label for="street" class="form-label">Dirección</label>
          <input
            type="text"
            id="street"
            class="form-control"
            formControlName="street"
            placeholder="Luro 2800"
          />
            @if(formUtils.isInvaliedField(registerForm, 'street')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'street')}}
              </span>
          }
        </div>

        <!-- Ciudad -->
        <div class="form-group">
          <label for="city" class="form-label">Ciudad</label>
          <input
            type="text"
            id="city"
            class="form-control"
            formControlName="city"
            placeholder="Mar del Plata"
          />
          @if(formUtils.isInvaliedField(registerForm, 'city')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'city')}}
              </span>
          }
        </div>
      </div>


      <div class="form-row">

         <!-- Provincia -->
          <div class="form-group flex-item">
            <label for="location" class="form-label">Provincia</label>
            <input
              type="text"
              id="location"
              class="form-control"
              formControlName="location"
              placeholder="Buenos Aires"
            />
              @if(formUtils.isInvaliedField(registerForm, 'location')){
              <span class="form-text text-danger">
                  {{formUtils.getFieldError(registerForm,'location')}}
                </span>
            }
          </div>

          <!-- País -->
          <div class="form-group flex-item">
            <label for="country" class="form-label">País</label>
            <input
              type="text"
              id="country"
              class="form-control"
              formControlName="country"
              placeholder="Argentina"
            />
              @if(formUtils.isInvaliedField(registerForm, 'country')){
              <span class="form-text text-danger">
                  {{formUtils.getFieldError(registerForm,'country')}}
                </span>
            }
          </div>

          <!-- Código Postal -->
          <div class="form-group flex-item zip">
            <label for="cp" class="form-label">Código Postal</label>
            <input
              type="text"
              id="cp"
              class="form-control"
              formControlName="cp"
              placeholder="7600"
            />
              @if(formUtils.isInvaliedField(registerForm, 'cp')){
              <span class="form-text text-danger">
                  {{formUtils.getFieldError(registerForm,'cp')}}
                </span>
            }
          </div>
      </div>

       <!-- <div class="form-row">
        <div class="form-group">
          <label for="birthay" class="form-label">Cumpleaños</label>
          <input
            type="text"
            id="birthay"
            class="form-control"
            placeholder="20/11/1997"
          />
        </div>

        <div class="form-group">
          <label for="telephone" class="form-label">Telefono</label>
          <input
            type="text"
            id="telephone"
            class="form-control"
            placeholder="Neighborhood or area"
          />
        </div>
      </div> -->

      <div class="button-container">
        <button type="submit" class="btn-sing-up">Registrarse</button>
        <!-- <button type="submit" class="btn-sing-up" [disabled]="registerForm.invalid">Sing Up</button> -->
      </div>

      <div class="sign-in-link">
        Ya estas registrado? <a href="/#/login">Iniciar sesión</a>
      </div>
    </form>
  </div>
</div>
