<div class="register-container">
  <div class="register-card">
    <h2 class="register-title">Registrase</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <!-- Nombre -->
        <div class="form-group">
          <label for="fullName" class="form-label">Nombre completo</label>
          <input
            type="text"
            id="fullName"
            class="form-control"
            formControlName="fullName"
            placeholder="Juanito Pérez"
          />

          @if(formUtils.isInvaliedField(registerForm, 'fullName')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'fullName')}}
            </span>
          }
        </div>

         <!-- Email -->
        <div class="form-group">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="example@example.com"
          />
            @if(formUtils.isInvaliedField(registerForm, 'email')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'email')}}
              </span>
          }
        </div>
      </div>

      <!-- Contraseña -->
      <div class="form-row">
        <div class="form-group">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
          />
            @if(formUtils.isInvaliedField(registerForm, 'password')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'password')}}
              </span>
          }
        </div>

        <!-- Repetir contraseña -->
        <div class="form-group">
          <label for="confirmPassword" class="form-label"
            >Repetir contraseña</label
          >
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            class="form-control"
          />
          @if(formUtils.isInvaliedField(registerForm, 'confirmPassword')){
            <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'confirmPassword')}}
              </span>
            }
        </div>
      </div>

      <!-- Dirección -->
      <div class="form-row">
        <div class="form-group">
          <label for="street" class="form-label">Dirección</label>
          <input
            type="text"
            id="street"
            class="form-control"
            formControlName="street"
            placeholder="Luro 2800"
          />
          @if(formUtils.isInvaliedField(registerForm, 'street')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'street')}}
              </span>
           }
        </div>

        <!-- Ciudad -->
        <div class="form-group">
          <label for="city" class="form-label">Ciudad</label>
          <input
            type="text"
            id="city"
            class="form-control"
            formControlName="city"
            placeholder="Mar del Plata"
          />
          @if(formUtils.isInvaliedField(registerForm, 'city')){
             <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'city')}}
              </span>
          }
        </div>
      </div>


      <div class="form-row">

         <!-- Provincia -->
          <div class="form-group flex-item">
            <label for="location" class="form-label">Provincia</label>
            <input
              type="text"
              id="location"
              class="form-control"
              formControlName="location"
              placeholder="Buenos Aires"
            />
            @if(formUtils.isInvaliedField(registerForm, 'location')){
              <span class="form-text text-danger">
                  {{formUtils.getFieldError(registerForm,'location')}}
              </span>
            }
          </div>

          <!-- País -->
          <div class="form-group flex-item">
            <label for="country" class="form-label">País</label>
            <input
              type="text"
              id="country"
              class="form-control"
              formControlName="country"
              placeholder="Argentina"
            />
            @if(formUtils.isInvaliedField(registerForm, 'country')){
              <span class="form-text text-danger">
                  {{formUtils.getFieldError(registerForm,'country')}}
                </span>
            }
          </div>

          <!-- Código Postal -->
          <div class="form-group flex-item zip">
            <label for="cp" class="form-label">Código Postal</label>
            <input
              type="text"
              id="cp"
              class="form-control"
              formControlName="cp"
              placeholder="7600"
            />
            @if(formUtils.isInvaliedField(registerForm, 'cp')){
              <span class="form-text text-danger">
                  {{formUtils.getFieldError(registerForm,'cp')}}
                </span>
             }
          </div>
      </div>

       <!-- Cumple años -->
       <div class="form-row mb-2">
        <div class="form-group">
          <label for="birthday" class="form-label">Cumpleaños</label>
          <input
            type="date"
            id="birthday"
            class="form-control"
            formControlName="birthday"
          />
          @if(formUtils.isInvaliedField(registerForm, 'birthday')){
            <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'birthday')}}
            </span>
          }
        </div>

         <!-- Teléfono -->
        <div class="form-group">
          <label for="phone" class="form-label">Teléfono</label>
          <input
            type="text"
            inputmode="numeric"
            pattern="[0-9]*"
            id="phone"
            class="form-control"
            formControlName="phone"
            placeholder="2235952534"
          />

          @if(formUtils.isInvaliedField(registerForm, 'phone')){
            <span class="form-text text-danger">
                {{formUtils.getFieldError(registerForm,'phone')}}
            </span>
          }
          @else {
             <small class="text-secondary">
             Ingresá el número sin 0 y sin 15. Ej: 2235952534
            </small>
          }
        </div>
      </div>



      @if(registerForm.hasError('passwodsNotEqual') && registerForm.touched){
          <span class="form-text text-danger">
              Las contraseñas no coinciden
          </span>
      }

      <div class="button-container mb-3">
        <button type="submit" class="btn-sing-up">Registrarse</button>
      </div>

      <div class="sign-in-link">
        Ya estas registrado? <a routerLink="/auth/login">Iniciar sesión</a>
      </div>
    </form>
  </div>
</div>
