
<div class="container my-4">

  <app-floating-bar></app-floating-bar>

   @if (isError)
   {
      <h3>{{isError}}</h3>
   }
   @else
   {
     <div class="row mt-4 equal-height-row">
      <!-- Información del personaje. Columna izquierda -->
      <div class="col-md-4 equal-height-col">
        <app-character-info class="equal-height-card"></app-character-info>
      </div>

      <!-- Lista de episodios. Columna derecha -->
      <div class="col-md-8 equal-height-col">
        <app-character-episodes-list class="equal-height-card"></app-character-episodes-list>
      </div>
    </div>

   }

</div>
