

<div class="container-fluid py-4">

  <!-- Search bar -->
  <div class="row mb-4">
    <div class="col-12 col-md-6 mx-auto">
      <div class="input-group">
        <input type="text" class="form-control bg-dark text-white" placeholder="Search...">
        <!-- <input type="text" class="form-control bg-dark text-white" placeholder="Search..." [(ngModel)]="searchTerm"> -->
        <button class="btn btn-primary" type="button" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>


  <!-- Grid de Cards -->
  <div class="row g-4">

    @for (character of $characters(); track $index) {
      <div class="col-6 col-sm-4 col-md-3 col-lg-2" >
           <app-card [character]="character"></app-card>
        </div>
    }

  </div>

  <!-- Paginador -->
  <nav class="mt-4 d-flex justify-content-center">
    <ul class="pagination pagination-sm">
      <li class="page-item" [class.disabled]="page === 1">
        <button class="page-link bg-dark text-white border-secondary" (click)="prevPage()">Previous</button>
      </li>

      <li class="page-item" *ngFor="let p of [].constructor(totalPages); let i = index">
        <button class="page-link bg-dark text-white border-secondary" [class.active]="page === (i+1)"
                (click)="goToPage(i+1)">
          {{ i+1 }}
        </button>
      </li>

      <li class="page-item" [class.disabled]="page === totalPages">
        <button class="page-link bg-dark text-white border-secondary" (click)="nextPage()">Next</button>
      </li>
    </ul>
  </nav>

</div>
