


  <div class="container my-4">
 <!------------ Buscador ---------------->
 <div class="row mb-4">
  <div class="col-12 col-md-6 mx-auto">
    <div class="input-group">
    <input
        type="text"
        class="form-control bg-dark text-white"
        placeholder="Buscar personaje..."
        (keyup.enter) = "onSearch(txtSearch.value)"
        #txtSearch
        >
      <button class="btn btn-primary" type="button" (click)="onSearch(txtSearch.value)">Buscar</button>
    </div>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 60vh;">

  @if (charactersService.$isError()) {
      <h3>{{ charactersService.$isError()}}</h3>
  }

  @else {

        <!------------ Lista de Cards ------------>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 mx-auto">
            @for (character of $characters(); track $index) {
              <div class="col">

                <app-card [character]="character"></app-card>

              </div>
            }
        </div>


        <!------------ Paginador ------------>
        <app-pagination></app-pagination>

  }
</div>






